<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087255408630-bujcjm7v8eij7taabhdgt24oel2hncsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087255408630-bujcjm7v8eij7taabhdgt24oel2hncsl</string>
	<key>API_KEY</key>
	<string>AIzaSyDVlkwnm3Y7_5siw18cvfHGx-zHw9wnWmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1087255408630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cicek.AI</string>
	<key>PROJECT_ID</key>
	<string>ai-project-27489</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-project-27489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087255408630:ios:f3b51f49975f249f5621d7</string>
</dict>
</plist>